<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="mze9412.ScriptCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScriptCompiler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScriptCompiler.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <mze9412.ScriptCompiler.Properties.Settings>
            <setting name="ScriptCodeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyScriptToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefreshScripts" serializeAs="String">
                <value>False</value>
            </setting>
        </mze9412.ScriptCompiler.Properties.Settings>
        <ScriptCompiler.Properties.Settings>
            <setting name="ScriptCodeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyScriptToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
        </ScriptCompiler.Properties.Settings>
        <ScriptCompiler.Settings>
            <setting name="ScriptCodeDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ScriptOutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CopyScriptToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
        </ScriptCompiler.Settings>
    </userSettings>
</configuration>
